<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Product</h1>

<a href="/products">List Product</a>

<form th:action="@{/products/editProduct}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}" name="id">
    <table>
        <td>Name</td>
        <td><input type="text" th:field="*{name}" name="name"></td>
        <td>Price</td>
        <td><input type="text" th:field="*{price}" name="price"></td>
        <td></td>
        <td><input type="submit" value="Edit product"></td>
    </table>
</form>
</body>
</html>